{% extends 'base.html.twig' %}

{% block title %}PossessionIndex{% endblock %}

{% block body %}  
    <div {{ react_component('possessions/PossessionsIndex', {'possessions': possessions_json}) }}></div>
{% endblock %}
