{% form_theme form 'bootstrap_5_layout.html.twig' %}

<div class="card p-4 m-auto w-75">
    {{ form_start(form) }}
    {{ form_widget(form) }}
        <button class="btn btn-warning my-4">{{ button_label|default('Enregistrer') }}</button>
    {{ form_end(form) }}
</div>